*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.question-tag{
    margin-top: 20px;
    margin-bottom: 20px;
}

#questionId{
    margin-bottom: 20px;
}

.heading{
    margin-top: 25px;
   margin-left: 1.7rem;
}

nav {
    
    margin-top: 20px;
   margin-right: 1.7rem;
   position: absolute;
    top: 5px;
    right: 0;

}

nav a {
    
    margin-right: 10px; 
    text-decoration: none;
}

.main-container{
    margin-top: 150px;
    min-width: 350px;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 7px;
    margin-right: 1.7rem;
    margin-left: 1.7rem;
}

.button-container{
    display: flex;
    flex-direction: column;
    gap: 2px;     
}

.option{
    flex: 1;
    text-align: center;
    padding: 10px; 
    border: none;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    width: 180px;
    border: 1px solid rgb(224, 221, 221);
    min-height: 83px;
    font-weight: 520;
    justify-content: center;
    align-content: center;
  
}

.result{
    margin-top: 20px;
    margin-bottom: 20px;
}
.next{
    background: rgb(38, 38, 230);
    width: 60px;
    color: whitesmoke;
    cursor: pointer;
    margin-bottom: 15px;
}

.score {

    margin: auto;
    margin-top: 20vh;
    border: 3px solid blue;
    flex-direction: column;
    justify-items: center;
    min-width: 40vh;
    padding: 10%;
    border: 1px solid rgb(224, 217, 208);
    border-radius: 11px;
    margin-right: 1.7rem;
    margin-left: 1.7rem;

} 